<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-secondary btn-lg me-md-2" routerLink="/create-empleado">Agregar</button></div>
                

            <ul>
                <li class="text" *ngFor="let item of items | async">
                  {{item.name}}
                </li>
              </ul>
        </div>
    </div>
</div>